@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  color-scheme: light;
}

body {
  margin-left: 20px;
  margin-right: 20px;
  min-height: 100vh;
  background-color: #F1F5F9; /* pale gray */
  font-family: system-ui, -apple-system, 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
}